{
    "name" : "FrontDoor",
    "active" : true,
    "description" : "",
    "applicationName" : "%AUTHZ_POLICY_SET%",
    "actionValues" : {
      "LOCK" : true,
      "UNLOCK" : true
    },
    "resources" : [ "doorlock://myhouse/front" ],
    "subject" : {
      "type" : "Identity",
      "subjectValues" : [ "id=SmithFamily,ou=group,o=authzrealm,ou=services,dc=sso-config,dc=com" ]
    },
    "resourceTypeUuid" : "%AUTHZ_RESOURCE_TYPE_DOORLOCK%"
} 
